.image-hero{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.title{
  font-family: 'Raleway', sans-serif;
}
.subtitle{
  letter-spacing: 10px;
}
#hero{
  height: 95vh;
}

.text-about{
    text-indent: 50px;
    text-align: justify;
}

.image-me{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

#resume{
  height: 95vh;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

.skill-bar{
  text-align: left;
  padding: 20px;
  font-size: 22px;
 }
 .skill{
  color: #fff;
  font-size: 22px;
  text-align: center;
  border-radius: 20px;
 }
 .html{width: 60%;background-color: #BC8F8F}
 .css{width: 60%;background-color: #D8BFD8}
 .bootstrap{width: 50%;background-color: #EE82EE}